body {
  background-color: #f9f9f9;
  color: #333;
  font-family: 'Helvetica', Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding-top: 50px;
}

h1 {
  color: #e2725b;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 40px;
}

.main-list {
  list-style-type: none;
  padding: 0; 
  margin: 0 auto;
  width: 300px; 
}

.main-list li {
  margin-bottom: 15px;
}

.main-list a {
  display: block;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 15px;
  font-size: 18px;
} 

.main-list a:hover {
  color: #e2725b;
  border-color: #1a1a1a;
} 

.recipe-container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.recipe-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.recipe-info {
    text-align: left;
    padding: 0 20px;
}

.recipe-info h2, .recipe-info h3 {
    color: #e2725b;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 5px;
}

.recipe-info li {
    margin-bottom: 10px;
}

.btn-back {
    display: inline-block;
    text-decoration: none;
    color: #e2725b;
    font-weight: bold;
    margin-bottom: 20px;
    border: 1px solid #e2725b;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-back:hover {
    background-color: #e2725b;
    color: white;
}